<!DOCTYPE html>

<html>

<head>
    <title>{{title}}</title>
    {{>scripts}}
    <link rel="stylesheet" href="/css/styles.css">
</head>

    <body>

        <div class="main-content">
            {{>header}}
            <p>{{message}} </p> 
        </div>

        {{>footer}}
    </body>

</html>