<!DOCTYPE html>

<html>
    <head>
        <title>{{title}}</title>

        {{>scripts}}
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
        <div class="main-content">
            {{>header}}

        <div class="titlepage" >Insert Title</div>

        </div>

        {{>footer}}

    </body>

</html>