<header>
    <h1>{{title}}</h1>

    <a class="heading" href="/">Home</a>
    <a class="heading" href="/projects">Projects</a>
    <a class="heading" href="/about">About</a>
    <a class="heading" href="/help">Help</a>
</header>

<script>

  var loc = window.location.pathname;

   $('.heading').each(function() {
     $(this).toggleClass('active', $(this).attr('href') == loc);
  });

</script>